# This workflow will install the python package and dependencies, and run tests against a variety of Python versions

name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 13 * * *"  # Every day at 1pm UTC (6am PST)

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python {% raw %} ${{ matrix.python-version }} {% endraw %}
      uses: actions/setup-python@v2
      with:
        python-version: {% raw %} ${{ matrix.python-version }} {% endraw %}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi         
        python -m pip install .[dev]  # install package + test dependencies
    - name: About
      run: |
        python -m $(python -Wi setup.py --name).about
    - name: Test with pytest
      run: |
        python -m pytest --cov-fail-under 100
    - name: Lint with black and isort (run `make delint` to fix issues)
      run: |
        black --check .  
        isort --check .
    - name: Lint with flake8
      run: |
        flake8 .            
    - name: Typecheck with mypy
      run: |
        mypy
    - name: Build documentation with sphinx
      run: |
        sphinx-build -M html docs docs/_build
