# This workflow will install the python package and dependencies, and run tests against a variety of Python versions

name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 13 * * *"  # Every day at 1pm UTC (6am PST)

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python {% raw %} ${{ matrix.python-version }} {% endraw %}
      uses: actions/setup-python@v5
      with:
        python-version: {% raw %} ${{ matrix.python-version }} {% endraw %}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; fi
        python -m pip install .[dev]  # install package + test dependencies
    - name: About
      run: |
        python -m {{cookiecutter.module_name}}.about
    - name: Test with pytest
      run: |
        python -m pytest --cov-fail-under 100
    - name: Lint with ruff
      run: |
        python -m ruff check .
    - name: Typecheck with mypy
      run: |
        python -m mypy
    - name: Build documentation with sphinx
      run: |
        (cd docsrc; make html)
